$bg-color: darkgrey;
$border-color: grey;

.app {
  background-color: black;
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    color: whitesmoke;
    // background-color: $bg-color;
  }
}
